{% extends 'admin/main.html' %}
{% block title %}
Главная страница
{% endblock %}
{% block content %}

<h2 align="center">Добавить время и дату</h2>

<form method="post" >

    <div class="row">
        <div>Логин: </div>
        <div><input type="datetime-local"  name="datetime"></div>
    </div>
    <div class="row">
        <div class="btn"><input type="submit" value="Добавить"></div>
    </div>
</form>
 <table border="1" align="center" width="100%" style="background: #fff">
        <tr>

            <th>
                Дата
            </th>
            <th>
                Время
            </th>
             <th>
                Статус
            </th>
            <th>
                Удалить
            </th>
        </tr>
        {% for z in data.freedatetimeall %}
            <tr>
                <td style="padding: 8px">{{z[1].replace('T', ' ')[:10]}}</td>
                <td style="padding: 8px">{{z[1].replace('T', ' ')[10:]}}</td>
                 <td style="padding: 8px">
                 {% if z[2]=='0' %}
                     <span style="color: green">Свободно</span>
                     {% else %}
                     <span style="color: red">Занято</span>
                     {% endif %}
                 </td>
                <td>
                    <form action="/deletedatetime" method="POST" align="center">
                        <input type="hidden" name="id" value="{{z[0]}}">
                        <button>Удалить</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
