{% extends 'admin/main.html' %}
{% block title %}
Главная страница
{% endblock %}
{% block content %}
{% if 'login' in session %}


<h2 align="center">Админ панель</h2>
<h3 align="center">Запись на консультацию</h3>
<div style="overflow-y: scroll;
    height: 202px;
    display: block;
    width: 103%;">
    <table border="1" align="center" width="100%" style="background: #fff; ">
        <tr>

            <th>
                ФИО
            </th>
             <th>
                DATETIME
             </th>

        </tr>
        {% for z in data.zap %}
            <tr>
                <td align="center" style="padding: 8px"><a href="userdetail/{{z[3]}}">{{z[1]}}</a></td>
                 <td align="center" style="padding: 8px">{{z[2].replace('T', ' ')[:10]}} {{z[2].replace('T', ' ')[10:]}}</td>
            </tr>
        {% endfor %}
    </table></div>
<h3 align="center">Заявки</h3>
<div style="overflow-y: scroll;
    height: 302px;
    display: block;
    width: 103%;">
    <table border="1" align="center" width="100%" style="background: #fff;background: #fff;
    ">
        <tr>

            <th>
                Имя клиента
            </th>
             <th>
                Еmail
            </th>
             <th width="160px">
                Телефон
            </th>
             <th>
                Услуга
            </th>
            <th>
                Вопрос
            </th>
        </tr>
        {% for z in data.zayavki %}
            <tr>
                <td style="padding: 8px">{{z[1]}}</td>
                 <td style="padding: 8px">{{z[2]}}</td>
                 <td style="padding: 8px">{{z[3]}}</td>
                 <td style="padding: 8px">{{z[4]}}</td>
                 <td style="padding: 8px">{{z[5]}}</td>

            </tr>
        {% endfor %}
    </table>
    </div>

<div>
<uL>
     <li>
            <a href="/clearzayavki" style="color: red; font-weight: 700">Очистить таблицу вопросы граждан</a>
        </li>
        <li>
            <a href="/clearzap" style="color: red; font-weight: 700">Очистить таблицу запись на консультацию</a>
        </li>
</uL>

</div>
{% else %}
<form method="post" action="/admin">

    <div class="row">
        <div>Логин: </div>
        <div><input type="text" placeholder="Логин" name="login"></div>
    </div>
     <div class="row">
        <div>Пароль: </div>
        <div><input type="password" placeholder="Password" name="password"></div>
    </div>

    <div class="row">
        <div class="btn"><input type="submit" value="Авторизация"></div>
    </div>
</form>

{% endif %}
{% endblock %}
