<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body>
<div class="background">
    <div class="blur"></div>
</div>

<header class="header">
    <img src="{{ url_for('static', filename='images/logo.png') }}" width="128px" class="logo">
    <p>Админ панель</p>
    <div class="clear"></div>
</header>
<nav class="menu-main">
    <ul>
        <li>
            <a href="/">На сайт</a>
        </li>
    {% if 'login' in session %}
          <li>
            <a href="/admin">Админ панель</a>
        </li>
         <li>
            <a href="/freedatetime">Редактировать свободное время и дату</a>
        </li>

        <li>
            <a href="/logoutadmin">Выход</a>
        </li>
    {% endif %}
    </ul>
</nav>
<main class="content">
    {% block content %}{% endblock %}
</main>
<footer class="footer">
    <p>Админ панель</p>
</footer>
</body>
</html>