{% extends 'main.html' %}
{% block title %}
Главная страница
{% endblock %}
{% block content %}
<h1>Наша команда</h1>
<p><b>Петров Сергей Александрович.</b> Стаж более 20 лет. Cпециализируется на различных видах права. Большое количество выигранных дел, в том числе по гражданскому,семйному и трудовомк праву.</p>
<p></p>
<br>
<br>
<br>
<br>
<p><b> Смирнов Борис Сергеевич.</b> Стаж более 25 лет. Cпециализируется на различных видах права. Большое количество выигранных дел, в том числе по уголовному, налоговому и наследственному праву.</p>
{% endblock %}
