{% extends 'main.html' %}
{% block title %}
Главная страница
{% endblock %}
{% block content %}

<div class="listlink" style="width: 400px">
    <a class="close">X</a>
    <h2 align="center">Справочная информация для граждан</h2>
    <ul>
        <li>
            <a href="https://www.consultant.ru/document/cons_doc_LAW_5142/">Гражданский кодекс РФ</a>
        </li>
        <li>
            <a href="https://www.consultant.ru/document/cons_doc_LAW_34683/">Трудовой кодекс РФ</a>
        </li>
        <li>
            <a href="https://www.consultant.ru/document/cons_doc_LAW_8982/">Семейный кодекс РФ</a>
        </li>
        <li>
            <a href="https://www.consultant.ru/document/cons_doc_LAW_51057/">Жилищный кодекс РФ</a>
        </li>
        <li>
            <a href="https://www.consultant.ru/document/cons_doc_LAW_10699/">Уголовный кодекс РФ</a>
        </li>
         <li>
            <a href="https://www.consultant.ru/document/cons_doc_LAW_39570/">Гражданский процессуальный РФ</a>
        </li>
         <li>
            <a href="https://www.consultant.ru/document/cons_doc_LAW_34481/">Уголовно-процессуальный РФ</a>
         </li>
        <li>
            <a href="https://www.consultant.ru/document/cons_doc_LAW_34661/">Кодекс об административных правонарушениях (КоАП РФ)</a>
        </li>
        <li>
            <a href="https://www.consultant.ru/document/cons_doc_LAW_19671/">Налоговый кодекс РФ</a>
        </li>
        <li>
        <a href="https://www.consultant.ru/document/cons_doc_LAW_33773/">"Земельный кодекс РФ" </a>
        </li>
         <li>
        <a href="https://www.consultant.ru/document/cons_doc_LAW_33773/">"Кодекс административного судопроизводства РФ" </a>
        </li>
        <li >
        <a href="https://www.consultant.ru/document/cons_doc_LAW_2255/" >Закон РФ "О праве граждан Российской Федерации на свободу передвижения, выбор места пребывания и жительства в пределах Российской Федерации"</a>
        </li>

    </ul>
</div>

<div class="header_text">
    <p>Время приёма граждан <br><br> понедельник - пятница<br><br> Часы приёма<br><br> 09:00, 11:00, 14:00, 16:00<br>
    </p>
</div>
<div class="cont_form">

     <form method="post" class="contact">
         <a class="close_1">X</a>
         <h3 align="center">Задайте свой вопрос юристу</h3>
    {% if data.suc!=''%}
         <div style="color: green; text-align: center; padding: 20px">{{data.suc}}</div>
    {% endif %}
    <fieldset class="contact-inner">
      <p class="contact-input">
        <input type="text" name="name" placeholder="Ваше имя..." autofocus required>
      </p>
        <p class="contact-input">
        <input type="text" name="email" placeholder="Ваше e-mail.." autofocus required>
      </p>
                <p class="contact-input">
        <input type="text" name="phone" placeholder="Ваше телефон.." autofocus required>
      </p>


      <p class="contact-input">
        <label for="select" class="select">
          <select name="service" id="select">
            <option value="устная консультация" selected>устная консультация</option>
            <option value="письменная консультация">письменная консультация</option>
            <option value="консультация по телефону">консультация по телефону</option>
            <option value="Другие">Другие</option>
          </select>
        </label>
      </p>

      <p class="contact-input">
        <textarea name="message" placeholder="Ваше вопрос"></textarea>
      </p>

      <p class="contact-submit">
        <input type="submit" value="Отправить">
      </p>
    </fieldset>
  </form>
</div>
<h1>Предоставляем услуги юриста в Туле</h1>
<div style="background-image: url({{ url_for('static', filename='images/main.png') }}); height: 550px; background-size: 100% 100%;padding-top: 14px" class="main_img">
    <h2 class="h2_h">Запись на консультацию</h2>
    <p style="width: 300px; margin-left: 60px;text-align: center; font-size: 22px; font-weight: 400">производиться после прохождения процедуры регистрации и авторизации и доступна личном кабинете клиента</p>

</div>
<a class="btn_spinf">Справочная информация для граждан</a>
<a class="btn_urist">Задать вопрос юристу</a>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('.btn_spinf').on('click', function(){
            $('.listlink').show();
        });
        $('.close').on('click', function(){
            $('.listlink').hide();
        });

        $('.btn_urist').on('click', function(){
            $('.cont_form').show();
        });
        $('.close_1').on('click', function(){
            $('.cont_form').hide();
        });
    });

</script>
{% endblock %}
