{% extends 'main.html' %}
{% block title %}
Главная страница
{% endblock %}
{% block content %}
<h1>Личный кабинет</h1>
<ul class="panel">
    <li>ФИО: {{data.fio}}</li>
     <li>Login: {{data.login}}</li>
     <li>Email: {{data.email}}</li>
     <li>Phone: {{data.phone}}</li>
    <li><a href="/">Записаться на консультацию</a></li>
</ul>
<h2>Время назначенных консультаций</h2>
<ul style="font-size: 20px">
    {% for i in data.cons %}
    <li><b>{{i[2].replace('T', ' ')}}</b></li>
    {% endfor %}
</ul>
{% endblock %}
